@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background: 0 0% 100%;
		--foreground: 0 0% 3.9%;
		--card: 0 0% 100%;
		--card-foreground: 0 0% 3.9%;
		--popover: 0 0% 100%;
		--popover-foreground: 0 0% 3.9%;
		--primary: 0 0% 9%;
		--primary-foreground: 0 0% 98%;
		--secondary: 0 0% 96.1%;
		--secondary-foreground: 0 0% 9%;
		--muted: 0 0% 96.1%;
		--muted-foreground: 0 0% 45.1%;
		--accent: 0 0% 96.1%;
		--accent-foreground: 0 0% 9%;
		--destructive: 0 84.2% 60.2%;
		--destructive-foreground: 0 0% 98%;
		--border: 0 0% 89.8%;
		--input: 0 0% 89.8%;
		--ring: 0 0% 3.9%;
		--chart-1: 12 76% 61%;
		--chart-2: 173 58% 39%;
		--chart-3: 197 37% 24%;
		--chart-4: 43 74% 66%;
		--chart-5: 27 87% 67%;
		--radius: 0.5rem;

		/* Name: custom color palette
       Author: Ilias Ism
       URL: https://gradient.page */

		/* CSS: .bg-gradient { background: var(--gradient) } */
		--gradient: linear-gradient(to top left, #20002c, #cbb4d4);
		--background: 301 100% 98.18%;
		--foreground: 301 10% 0.36%;

		--muted: 301 10% 90.9%;
		--muted-foreground: 301 5% 40.9%;

		--popover: 301 10% 90.9%;
		--popover-foreground: 301 10% 0.44999999999999996%;

		--card: 301 10% 90.9%;
		--card-foreground: 301 10% 0.44999999999999996%;

		--border: 301 15% 89.36%;
		--input: 301 15% 89.36%;

		--primary: 301 100% 9%;
		--primary-foreground: 301 2% 90.9%;

		--secondary: 301 5% 95.45%;
		--secondary-foreground: 301 7% 10.9%;

		--accent: 301 5% 95.45%;
		--accent-foreground: 301 7% 10.9%;

		--destructive: 0 84.2% 60.2%;
		--destructive-foreground: 0 0% 98%;

		--ring: 301 100% 9%;

		--radius: 0.5rem;
	}
	.dark {
		--background: 0 0% 3.9%;
		--foreground: 0 0% 98%;
		--card: 0 0% 3.9%;
		--card-foreground: 0 0% 98%;
		--popover: 0 0% 3.9%;
		--popover-foreground: 0 0% 98%;
		--primary: 0 0% 98%;
		--primary-foreground: 0 0% 9%;
		--secondary: 0 0% 14.9%;
		--secondary-foreground: 0 0% 98%;
		--muted: 0 0% 14.9%;
		--muted-foreground: 0 0% 63.9%;
		--accent: 0 0% 14.9%;
		--accent-foreground: 0 0% 98%;
		--destructive: 0 62.8% 30.6%;
		--destructive-foreground: 0 0% 98%;
		--border: 0 0% 14.9%;
		--input: 0 0% 14.9%;
		--ring: 0 0% 83.1%;
		--chart-1: 220 70% 50%;
		--chart-2: 160 60% 45%;
		--chart-3: 30 80% 55%;
		--chart-4: 280 65% 60%;
		--chart-5: 340 75% 55%;

		/* Name: custom color palette
       Author: Ilias Ism
       URL: https://gradient.page */

		/* CSS: .bg-gradient { background: var(--gradient) } */
		--gradient: linear-gradient(to top left, #9796f0, #fbc7d4);

		--background: 256 48.75% 6.08%;
		--foreground: 256 7.5% 98.8%;

		--muted: 256 37.5% 22.8%;
		--muted-foreground: 256 7.5% 57.6%;

		--popover: 256 50% 9.88%;
		--popover-foreground: 256 7.5% 98.8%;

		--card: 256 50% 9.88%;
		--card-foreground: 256 7.5% 98.8%;

		--border: 256 37.5% 22.8%;
		--input: 256 37.5% 22.8%;

		--primary: 256 75% 76%;
		--primary-foreground: 256 7.5% 7.6%;

		--secondary: 256 37.5% 22.8%;
		--secondary-foreground: 256 7.5% 98.8%;

		--accent: 256 37.5% 22.8%;
		--accent-foreground: 256 7.5% 98.8%;

		--destructive: 0 62.8% 30.6%;
		--destructive-foreground: 256 7.5% 98.8%;

		--ring: 256 75% 76%;
	}
}
@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground;
	}
}
